langchain
langchain_community
langchain_openai
langchain-text-splitters
langchain-chroma
langchain-experimental
langchain-core

openai
chromadb

nltk==3.8.1
sentence-transformers
unstructured
unstructured[pdf]
lark

streamlit
